@font-face {
    font-family: 'Inter';
    src: url('./assets/Inter.woff') format('woff');
    font-style: normal;
  }

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff4e9;
    display: flex;
    flex-direction: column;
}
.game-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 6vmin;
}
.informator{
    font-size: 1.1rem;
    font-weight: 400;
    width: 300px;
    display: flex;
    justify-content: center;
}
.rotate{
    cursor: pointer;
    padding: 3px 3px 3px 3px;
    width: 100px;
}
.boards{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.left-side, .right-side{
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.board-left, .board-right{
    margin: 2vmin;
    display: grid;
    grid-template-columns: repeat(10, 4.6vmin);
    grid-template-rows: repeat(10, 4.6vmin);
    background-color: #699BF7;
    border: 1.5vmin solid #699BF7;
    border-radius: 5%;
    outline: 1px solid black;
}
.board-right{
    background-color: #FF8577;
    border: 1.5vmin solid #FF8577;
}
.title-sec{
    display: flex;
    width: 46vmin;
    justify-content: space-between;
}
.title-sec.computer{
    flex-direction: row-reverse;
}
h1 {
    color: #000;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%; /* 40px */
    letter-spacing: -0.8px;
}
button{
    position: relative;
    border-radius: 999px;
    border: 2px solid #000;
    box-shadow: 2px 2px 0px 0px #000;
    font-size: 0.9rem;
    padding: 0 10px;
}
.human{
    background: #FF8577;
}
button.computer{
    background: #699BF7;
}
.cube{
    position: relative;
    border-radius: 8px;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 2px 2px 0px 0px #000;
    cursor: pointer;
    margin: 2.5px;
}
.hit{
    background: #F16858;
    background-image:url('assets/Cross.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2vmin 2vmin
}
.miss{
    background-image: url('assets/Dot.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.8vmin 0.8vmin;
}

.cube:hover, .rotate:hover, .clicked{
    box-shadow: 0px 0px 0px 0px #000;
    top: 2px;
    left: 2px
}
.ship-start-horizontal{
    background-image:url('assets/Boat-Start-Horizontal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.6vmin 3.6vmin
}
.ship-end-horizontal{
    background-image:url('assets/Boat-End-Horizontal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.6vmin 3.6vmin
}
.ship-middle-horizontal{
    background-image:url('assets/Boat-Middle-Horizontal.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vmin 4vmin

}
/*vertical*/
.ship-start-vertical{
    background-image:url('assets/Boat-Start-Vertical.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.6vmin 3.6vmin
}
.ship-end-vertical{
    background-image:url('assets/Boat-End-Vertical.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3.6vmin 3.6vmin
}
.ship-middle-vertical{
    background-image:url('assets/Boat-Middle-Vertical.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4vmin 4vmin;
}
.disable{
    pointer-events:none;
}
.hide{
    display: none;
}